@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Khula', sans-serif;
	height: 100vh;
	text-align: center;
	margin: 0;
	padding: 0;
}

a.noline {
	text-decoration: none;
}
a {
	color: inherit;
	text-decoration: none;
}

.container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	height: 100%;
	width: 35%;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.5s ease-in-out;
}

.sidebar > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.sidebar h1 {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: -30px;
}

.main-slide {
	height: 100%;
	position: absolute;
	top: 0;
	left: 35%;
	width: 65%;
	transition: transform 0.5s ease-in-out;
}

.main-slide > div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}

button {
	background-color: #fff;
	border: none;
	color: #aaa;
	cursor: pointer;
	font-size: 16px;
	padding: 15px;
}

button:hover {
	color: #222;
}

button:focus {
	outline: none;
}

.container .controls button {
	position: absolute;
	left: 35%;
	top: 50%;
	z-index: 100;
}

.container .controls .down-button {
	transform: translateX(-100%);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.container .controls .up-button {
	transform: translateY(-100%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.header {
	width: 100%;
	height: 50px;
	background-color: #f1f1f1;
	box-shadow: 20px 2px 5px #ccc;
	padding-top: 10px;
}

.header nav {
	float: right;
	margin: 0;
	padding: 0;
}

.header nav ul {
	list-style-type: none;
	display: flex;
}

.header nav ul li {
	float: left;
	margin: 0 10px;
}

.header nav ul li a {
	text-decoration: none;
	color: #000;
}

.header nav ul li a:hover {
	color: #333;
}
