@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');
* {
	box-sizing: border-box;
}

body {
	font-family: 'Khula', sans-serif;
	overflow: hidden;
	margin: 0;
	background: #1e4750;
	height: 100vh;
	padding-bottom: 100;
}

.cars {
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-size: 30px;
	color: white;
	font-weight: 700;
	line-height: 130%;
	margin: 0;
	padding: 0;
	border-radius: 50px;
}

.container {
	width: 100%;
	display: flex;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide {
	height: 80vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transition: all 500ms ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slide h3 {
	position: absolute;
	font-size: 24px;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slide.active {
	flex: 10;
}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	width: 100%;
	height: 50px;
	background-color: #f1f1f1;
}
.header nav {
	float: right;
	margin: 0;
	padding: 0;
}

.header nav ul {
	list-style-type: none;
	display: flex;
}

.header nav ul li {
	float: left;
	margin: 0 10px;
}

.header nav ul li a {
	text-decoration: none;
	color: #000;
}

.header nav ul li a:hover {
	color: #333;
}

/* Стили слайдера
.container {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.slide {
	float: left;
	width: 20%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease-in-out;
}

.slide h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 1.2rem;
}

.slide.active {
	width: 80%;
} */
